body{
    display: flex;
    background-color: aqua;
    text-align: center;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container{
    color:black;
}
.time{
font-size: 100px;
    font-weight: bold;
}
.txt{
font-size: 40px;
font-weight: bold;
}
.btn{
text-align: center;
margin-top: 40px;
}
.nt{
    border: 0px;
    padding: 7px 25px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 15px;
}
#start{
    background-color: green;
    color: white;
}
#stop{
    background-color: blue;
    color: white;
}
#reset{
    background-color: red;
    color: white;
}